@model RegisterViewModel

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Stwórz konto</title>
  </head>
  <body>
    <div class="container container-login">
      <div class="container-box">
        <h1 class="header header-login">Witaj w ...!</h1>
        <p class="text-muted text-muted-login">Stwórz konto aby kontynuować</p>
      </div>
      <div class="container-box">
        <form asp-controller="Account" asp-action="Register" method="POST">
          @Html.AntiForgeryToken()
          <div class="input-box">
            <label asp-for="Email">Adres e-mail</label>
            <input
              asp-for="Email"
              type="text"
              placeholder="Wpisz swój adres e-mail"/>
          </div>
          <div class="input-box">
            <label asp-for="FirstName">Imię</label>
            <input
              asp-for="FirstName"
              type="text"
              placeholder="Wpisz swoje imię"/>
          </div>
          <div class="input-box">
            <label asp-for="SecondName">Nazwisko</label>
            <input
              asp-for="SecondName"
              type="text"
              placeholder="Wpisz swoje nazwisko"/>
          </div>
          <div class="input-box">
            <label asp-for="Password">Hasło</label>
            <input
              asp-for="Password"
              type="password"
              placeholder="Wpisz swoje hasło"/>
          </div>
          <div class="input-box">
            <label asp-for="ConfirmPassword">Powtórz Hasło</label>
            <input
              asp-for="ConfirmPassword"
              type="password"
              placeholder="Powtórz swoje hasło"/>
          </div>
          <div asp-validation-summary="All" class="form-validation"></div>
          <div class="button-box">
            <button class="btn btn-primary">Stwórz konto</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
