<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - src</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true">
    
    @RenderSection("Styles", required: false)
</head>
<body>
@await Component.InvokeAsync("Nav", new { variant = "Mobile" })
<div class="container">
    @await Component.InvokeAsync("Nav", new { variant = "Desktop" })
    <main>
        @RenderBody()
    </main>
</div>
<script src="~/js/main.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/cf24175f1e.js" crossorigin="anonymous"></script>
@RenderSection("Scripts", required: false)
</body>
</html>