<section class="profile-section">
    <div class="table-wrapper">
        <div class="table-description">
            <p class="table-description-header">Moje Powiadomienia</p>
            <p class="table-description-info">
                Przeglądaj swoje powiadomienia
            </p>
        </div>
        <div class="overflow overflow-table">
            <table class="table">
                <thead>
                <tr class="table-row">
                    <th>ID</th>
                    <th>TYP ZGŁOSZENIA</th>
                    <th>Lokalizacja</th>
                    <th>DATA</th>
                    <th>AKCJE</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row">
                    <td>4821</td>
                    <td>
                        <div>
                            <p class="table-type-header">Zaginiony Pies</p>
                            <p class="table-type-muted">Rasa: Owczarek Niemiecki</p>
                        </div>
                    </td>
                    <td>Warszawa</td>
                    <td>12 Paź 2023</td>
                    <td class="table-action-buttons">
                        <button>
                            <i class="fa-solid fa-pen fa-xl"></i>
                        </button>
                        <button>
                            <i class="fa-solid fa-check fa-xl"></i>
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td>4821</td>
                    <td>
                        <div>
                            <p class="table-type-header">Zaginiony Pies</p>
                            <p class="table-type-muted">Rasa: Owczarek Niemiecki</p>
                        </div>
                    </td>
                    <td>Warszawa</td>
                    <td>12 Paź 2023</td>
                    <td class="table-action-buttons">
                        <a>
                            <i class="fa-solid fa-pen fa-xl"></i>
                        </a>
                        <a>
                            <i class="fa-solid fa-check fa-xl"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-pagination table-pagination-mobile">
            <button>Poprzednie</button>
            <button>Następne</button>
        </div>
        <div class="table-pagination table-pagination-desktop">
            <p class="table-pagination-results">
                Pokazuje <span>1</span> do <span>3</span> z
                <span>12</span> wyników
            </p>
            <div>
                <ul class="table-pagination-pages">
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-left fa-xl"></i>
                        </button>
                    </li>
                    <li class="table-pagination-page-number">1</li>
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-right fa-xl"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>