:root {
    --sideText: #757575;
    --mainText: #212121;
    --border: #e0e0e0;
    --icons: #9e9e9e;
}

.form-header-wrapper {
    margin-bottom: 3rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-header h1 {
    color: var(--mainText);
    font-size: 2.5rem;
}

.form-header-description {
    color: var(--sideText);
    font-size: 1.3rem;
}

.form-header a {
    text-decoration: none;
    color: var(--sideText);
    font-size: 1.1rem;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid transparent;
}

.form-header a i {
    margin-right: 0.4rem;
}

.form-header a:hover {
    border-bottom: 1px solid var(--sideText);
}

.form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid var(--light-gray);
    border-radius: 0.7rem;
}

.form-map-box {
    padding: 2rem;
    position: relative;
    min-height: 50vh;
}

.form-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.form-map-addons {
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    z-index: 2;
}

.form-map-addon {
    padding: 0.5rem;
    width: fit-content;
    background-color: #fff;
    color: var(--sideText);
    border: 1px solid var(--border);
    border-radius: 0.7rem;
    font-weight: 500;
    opacity: 0.9;
}

.form-map-location-circle {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--green);
    border-radius: 50%;
    margin-right: 0.2rem;
}

.form-map-location-cord {
    color: var(--mainText);
    font-weight: bold;
}

#cord-lon {
    margin-left: 0.2rem;
}

.form-map-geolocation {
    padding: 0.9rem;
    border: none;
    border-radius: 0.7rem;
    background-color: #fff;
    z-index: 2;
    cursor: pointer;
}

.form-data {
    padding: 2.5rem;
}

.form-input-box {
    margin-bottom: 2rem;
}

.form-input-box > input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 0.7rem;
}

.form-input-box-label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: var(--mainText);
    font-weight: bold;
}

.form-input-box-label i {
    margin-right: 0.5rem;
}

.form-file-input {
    display: flex;
    align-items: center;
    border-radius: 0.7rem;
    overflow: hidden;
    border: 1px solid var(--border);
}

.form-file-button {
    padding: 1rem;
    background-color: #f6f6f6;
    color: var(--sideText);
    font-weight: bold;
    font-size: 1.1rem;
}

.form-file-button input {
    display: none;
}

.form-file-name {
    font-size: 1.1rem;
    margin-left: 1rem;
}

.form-input-types {
    margin-top: 0.5rem;
    color: var(--sideText);
}

.textarea-wrapper {
    position: relative;
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 0.7rem;
}

.textarea-counter {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    color: var(--sideText);
    font-size: 0.9rem;
}

.textarea-wrapper textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 15rem;
    max-height: 15rem;
    border: none;
    background: none;
}

.textarea-wrapper textarea:focus {
    outline: none;
    border: none;
}

.form-date-time-box {
    display: flex;
    flex-direction: column;
}

.form-date-time-box > .form-input-box input {
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 0.7rem;
}

.form-date-time-box > .form-input-box input:focus {
    outline: none;
}

.form-footer {
    padding: 2rem 2.5rem;
    background-color: #f6f6f6;
    border-top: 1px solid var(--border);
}

.form-footer button {
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: 0.7rem;
}

/* stylowanie leaflet */

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    color: var(--icons);
    font-size: 1.4rem;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    color: var(--icons);
    font-size: 1.4rem;
}

@media (min-width: 992px) {
    .form {
        flex-direction: row;
    }

    .form-flex-box {
        width: 100%;
    }

    .form-map-box {
        order: 2;
    }

    .form-map-addons {
        min-height: 100%;
    }

    .form-date-time-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 6rem;
    }

    .form-date-time-box > .form-input-box {
        margin: 0;
        width: 100%;
    }

    .form-date-time-box > .form-input-box input {
        height: 4rem;
    }
}
