.map-section {
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 1rem;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: 1;
}

.map-btn {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    position: relative;
    z-index: 2;
    border-radius: 0.7rem;
    border: 1px solid var(--light-gray);
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.map-btn span {
    margin: 0 1rem;
}

.map-filter {
    padding: 1.5rem;
    display: none;
    position: relative;
    width: fit-content;
    background-color: #fff;
    border-radius: 0.7rem;
    z-index: 3;
}

.map-filter-show {
    display: block;
}

.map-filter-box {
    width: 100%;
    margin-bottom: 2rem;
}

.map-filter-box-flex {
    display: flex;
    gap: 2rem;
}

.map-input-box {
    display: flex;
    align-items: center;
    width: 30rem;
    background-color: #f9fafb;
    border: 1px solid var(--light-gray);
    border-radius: 0.7rem;
}

.map-input-box span {
    padding: 0rem 0.5rem 0 1rem;
}

.map-input-box input {
    padding: 1rem;
    background: none;
    border: none;
    width: 100%;
}

.map-input-box input:focus {
    outline: none;
    border: none;
}

.map-filter-box label, .map-filter-box p.as-label {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.segmented {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: #f9fafb;
    border-radius: 0.7rem;
    padding: 0.5rem;
}

.segmented-box {
    position: relative;
    width: 100%;
}

.segmented-box label {
    padding: 0.7rem 1rem;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    border-radius: 0.7rem;
    cursor: pointer;
}

.segmented-box input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.segmented-box input:checked + label {
    font-weight: bold;
    color: var(--green);
    background-color: #fff;
    border: 1px solid var(--light-gray);
}

.map-filter-box select {
    width: 100%;
    padding: 1rem;
    background-color: #f9fafb;
    border: 1px solid var(--light-gray);
    border-radius: 0.7rem;
    font-weight: bold;
}

.map-filter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0;
    border-top: 1px solid var(--light-gray);
}

.map-filter-buttons > button[type="reset"] {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--gray);
    cursor: pointer;
}

.map-filter-buttons > button[type="submit"] {
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--green);
    font-weight: bold;
    border-radius: 0.7rem;
}

.leaflet-popup-content p {
    margin: 0;
}

.map-popup-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.map-popup-info {
    width: 100%;
}

.map-popup-info div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.map-popup-header img {
    width: 4.5rem;
    height: 100%;
    border-radius: 0.5rem;
}

.map-popup-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
}

.status-lost {
    background-color: #ffedd5;
    border: 1px solid #fed7aa;
    color: #9a3412;
}

.status-lost span {
    background-color: #fbbe6c;
}

.status-found {
    color: #166535;
    background-color: #dcfce7;
    border: 1px solid #bdf8d1;
}

.status-found span {
    background-color: #166535;
}

.map-popup-status span {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.map-popup-type {
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
}

.map-popup-page {
    cursor: pointer;
}

.map-popup-type span {
    margin-left: 0.5rem;
}

.map-popup-species {
    white-space: nowrap;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.map-popup-buttons {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid var(--light-gray);
}

.popup-chat-button,
.popup-sight-button {
    text-align: center;
    width: 100%;
    min-width: 12rem;
    font-size: 1rem;
    padding: 1rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.popup-chat-button {
    border: 1px solid var(--light-gray);
    color: #1f2937 !important;
    font-weight: bold;
}

.popup-chat-button span,
.popup-sight-button span {
    display: inline-block;
    margin-left: 0.5rem;
}

.popup-sight-button {
    background-color: var(--green);
    color: #fff !important;
    font-weight: bold;
}

.leaflet-popup-content-wrapper {
    padding: 0;
    border-radius: 0.5rem;
}

.leaflet-popup-content {
    width: auto !important;
    max-width: none !important;
    padding: 1.5rem;
    line-height: normal;
    margin: 0;
}

.leaflet-top.leaflet-left {
    left: auto;
    right: 2rem;
}

