@import url("variables.css");

.profile-nav {
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
}

.overflow {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 3rem;
}

.overflow-table {
    padding: 0;
}

.overflow::-webkit-scrollbar {
    height: 1rem;
}

.overflow::-webkit-scrollbar-track {
    background: #e8e9ec;
}

.overflow::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 1rem;
    width: 0.5rem;
}

.profile-nav ul {
    display: flex;
    list-style: none;
}

.profile-nav ul li {
    margin-right: 4rem;
}

.profile-nav ul li > a {
    text-decoration: none;
    padding: 0 1.5rem 2.8rem;
    font-size: 1.5rem;
    color: #000;
}

.profile-nav ul li > a span {
    margin-left: 1rem;
}

.profile-nav ul li > a.profile-nav-active {
    border-bottom: 2px solid var(--green);
    color: var(--green);
}

.profile-section {
    margin-bottom: 3rem;
}

.table-wrapper {
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-description {
    padding: 2rem;
}

.table-description-header {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.table-description-info {
    font-size: 1.3rem;
    color: #a3a3a3;
}

.table thead {
    background-color: #f9fafb;
    border-top: 1px solid var(--light-gray);
}

.table-row {
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
}

.table-row th {
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
}

.table-row td {
    padding: 2rem;
    font-size: 1.2rem;
    text-align: left;
}

.table-row td > span.status {
    padding: .5rem 1rem;
    text-transform: capitalize;
    border-radius: 0.7rem;
}

.table-row td > span.status.good {
    color: #166535;
    background-color: #dcfce7;
    border: 1px solid #166535;
}

.table-row td > span.status.bad {
    color: #e76f6d;
    background-color: #ffe0df;
    border: 1px solid #e76f6d;
}

.table-type-header {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.table-type-muted {
    color: #a3a3a3;
}

.table-action-buttons a, .table-action-buttons button {
    color: #000;
    text-decoration: none;
    margin-right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.table th:last-child,
.table td:last-child {
    text-align: right;
}

.table-pagination {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-pagination-results {
    font-size: 1.2rem;
}

.table-pagination-results span {
    font-weight: bold;
}

.table-pagination-mobile button {
    padding: 1rem;
    background: none;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
}

.table-pagination-desktop {
    display: none;
}

.table-pagination-pages {
    list-style: none;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.table-pagination-pages li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    min-width: 3.5rem;
}

.table-pagination-pages button {
    padding: 0.7rem;
    background: none;
    border: none;
}

.table-pagination-page-number {
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: var(--green);
}

.profile-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.profile-avatar {
    position: relative;
    width: 8rem;
    margin-bottom: 2rem;
}

.profile-status-indicator {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--green);
    border-radius: 50%;
    border: 2px solid #fff;
}

.profile-avatar-circle {
    width: 100%;
}

.profile-title {
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.profile-name {
    font-weight: bold;
}

.profile-name,
.profile-email {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray);
    margin-bottom: 0.5rem;
}

.profile-email {
    font-size: 1.4rem;
    color: #a3a3a3;
}

@media (min-width: 768px) {
    .table-pagination-desktop {
        display: flex;
    }

    .table-pagination-mobile {
        display: none;
    }

    .profile-card-content {
        flex-direction: row;
        justify-content: flex-start;
    }

    .profile-avatar {
        margin-right: 3rem;
        margin-bottom: 0;
    }

    .profile-title,
    .profile-name,
    .profile-email {
        text-align: left;
    }
}
